<%= form_with(model: course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :course_name %>
  </div>

  <strong> Max character length for your name should be no more than 50. </strong>

  <div class="field">
    <%= form.label :number %>
    <%= form.number_field :number, id: :course_number %>
  </div>

  <strong> The course number has to be 1000 or greater. </strong>

  <div class="field">
    <%= form.label :semester %>
    <%= form.text_field :semester, id: :course_semester %>
  </div>

  <strong> Semester names need to be any of the Earth Seasons: Fall, Winter, Spring, or Summer. </strong>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :course_date %>
  </div>

  <strong> Date should be accurately recorded at the start of any fantasy course. </strong>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
